html {
  --produktliste: rgba(128, 128, 128, 0.547);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  max-width: 1200px;
  margin-inline: auto;
}
/******************* Produktliste *******************/
.produktliste {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.produktliste a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  padding: 2em;
  background-color: var(--produktliste);
}
